$background-color-header: #273032;
$redcolor: #E96125;
$bordercolor: #dbdbdb;
#header-top{
  background-color: $background-color-header;
}
//site logo
#block-vmsit-branding{
  padding: 10px 28px 10px 28px;
  img{
    height:34px;
    width: 34px;
  }
}
//search block
#block-product-search-block{
  padding: 10px 28px 10px 28px;
  width: 100%;
}
//cart
#block-cart{
  padding: 10px 28px 10px 28px;
  width: 100%;
}
.cart-block--summary{
  #lblCartCount {
    font-size: 12px;
    font-weight: 500;;
    background: $redcolor;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
  }
  .badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
  background-color: $redcolor;
  }
}
//div styling
.frontpage > div{
    margin: 10px auto;
    background-color: #fff;
  }
 .frontpage{
   .rowcontent{
     margin: 0px;
   }
 }

//slickcategory carousel

.slick-categories-carousel{
  background-color: #fff;
  .field__item{
    text-align: center;
  }
  a{
    color: #333333;
    margin: auto;
    text-align: center;
    &:hover,&:focus,&:visited,&:active{
      color: #333333;
      text-decoration: none;
    }
  }
}
//banner
.slick-banner-carousel{
  .slick-slide {
    img {
        height: max-content;
        width: 80%;
    }
  }
}
//product block
.block-title{
  columns: #333333;
  font-size: 16px;
  font-weight: 500;
}
 .more-link{
   text-align: right;
   a{
     color: $redcolor;
     padding: 5px;
     text-decoration: none;
     border: 1px solid $bordercolor;
     &:hover,&:focus,&:visited{
       color: $redcolor;
     }
   }
 }
//accordion
#accordion{
  background-color: #eeeeee;
  .accordionitem{
    background-color: #fff;
  }
  #categories img{
    padding: 10px;
    margin-right: 30px;
  }
  .accordionrow{
    margin: 0 30px;
    padding: 10px;
  }
  .accordioncolumn{
    background-color: #fff;
    margin: 0;
  }
  #categories{
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .accordioncontent{
    margin: 10px;
    padding: 10px;
  }
  .arrowplacement{
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
  }
  #categories .row{
    position: relative;
  }
  .arrowposition{
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}
#block-featureonecategories , #block-featuretwoimportantlink{
  font-size: 12px;
  font-weight: 200;
  ul {
    flex-wrap: wrap;
    display: flex;
  }
  ul li {
    flex: 1 0 50%;
  }
}
#block-footerblockbrand,#block-postscriptone ,#block-featurethirdsocial{
  font-size: 12px;
  font-weight: 200;
  height: 100%;
}
#block-faturesbottom{
  border-top: 1px solid #dbdbdb;
}
.footer{
  padding-top: 20px;
  background-color: #fff;
  color: #666666;
  a{
    color: #666666;
    text-decoration: none;
  }
  &:hover,&:focus,&:visited{
    color: #666666;
  }
  #block-featurethirdsocial{
    a{
      color: aliceblue;
    }
    
  }
  .block-title{
    font-weight: 500;
  }
  .feature-block-title{
    font-size: 14px;
    font-weight: 500;
  }
  .block-text{
    font-size: 12px;
  }
  .block-heading{
    font-size: 24px;
    font-weight: 700;
  }
  .featured_bottom_second{
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
  }
  .featured{
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
  }

}
