@font-face {
  font-family: Celias;
  src: url(fonts/Celias.woff2);
}
body {
  background-color: #EEEEEE;
  font-family: Celias, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#header-top {
  background-color: #273032;
}

#block-vmsit-branding {
  padding: 10px 28px 10px 28px;
}
#block-vmsit-branding img {
  height: 34px;
  width: 34px;
}

#block-product-search-block {
  padding: 10px 28px 10px 28px;
  width: 100%;
}

#block-cart {
  padding: 10px 28px 10px 28px;
  width: 100%;
}

.cart-block--summary #lblCartCount {
  font-size: 12px;
  font-weight: 500;
  background: #E96125;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
.cart-block--summary .badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.cart-block--summary .label-warning[href],
.cart-block--summary .badge-warning[href] {
  background-color: #E96125;
}

.frontpage > div {
  margin: 10px auto;
  background-color: #fff;
}

.frontpage .rowcontent {
  margin: 0px;
}

.slick-categories-carousel {
  background-color: #fff;
}
.slick-categories-carousel .field__item {
  text-align: center;
}
.slick-categories-carousel a {
  color: #333333;
  margin: auto;
  text-align: center;
}
.slick-categories-carousel a:hover, .slick-categories-carousel a:focus, .slick-categories-carousel a:visited, .slick-categories-carousel a:active {
  color: #333333;
  text-decoration: none;
}

.slick-banner-carousel .slick-slide img {
  height: max-content;
  width: 80%;
}

.block-title {
  columns: #333333;
  font-size: 16px;
  font-weight: 500;
}

.more-link {
  text-align: right;
}
.more-link a {
  color: #E96125;
  padding: 5px;
  text-decoration: none;
  border: 1px solid #dbdbdb;
}
.more-link a:hover, .more-link a:focus, .more-link a:visited {
  color: #E96125;
}

#accordion {
  background-color: #eeeeee;
}
#accordion .accordionitem {
  background-color: #fff;
}
#accordion #categories img {
  padding: 10px;
  margin-right: 30px;
}
#accordion .accordionrow {
  margin: 0 30px;
  padding: 10px;
}
#accordion .accordioncolumn {
  background-color: #fff;
  margin: 0;
}
#accordion #categories {
  margin-top: 20px;
  margin-bottom: 15px;
}
#accordion .accordioncontent {
  margin: 10px;
  padding: 10px;
}
#accordion .arrowplacement {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
}
#accordion #categories .row {
  position: relative;
}
#accordion .arrowposition {
  position: absolute;
  bottom: 10px;
  right: 0;
}

#block-featureonecategories, #block-featuretwoimportantlink {
  font-size: 12px;
  font-weight: 200;
}
#block-featureonecategories ul, #block-featuretwoimportantlink ul {
  flex-wrap: wrap;
  display: flex;
}
#block-featureonecategories ul li, #block-featuretwoimportantlink ul li {
  flex: 1 0 50%;
}

#block-footerblockbrand, #block-postscriptone, #block-featurethirdsocial {
  font-size: 12px;
  font-weight: 200;
  height: 100%;
}

#block-faturesbottom {
  border-top: 1px solid #dbdbdb;
}

.footer {
  padding-top: 20px;
  background-color: #fff;
  color: #666666;
}
.footer a {
  color: #666666;
  text-decoration: none;
}
.footer:hover, .footer:focus, .footer:visited {
  color: #666666;
}
.footer #block-featurethirdsocial a {
  color: aliceblue;
}
.footer .block-title {
  font-weight: 500;
}
.footer .feature-block-title {
  font-size: 14px;
  font-weight: 500;
}
.footer .block-text {
  font-size: 12px;
}
.footer .block-heading {
  font-size: 24px;
  font-weight: 700;
}
.footer .featured_bottom_second {
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}
.footer .featured {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.commerce-product--full .offer-text {
  display: inline-block;
  background-color: #51AA1B;
  color: #fff;
  border: 1px solid #51AA1B;
  margin: 0px auto;
  padding: 4px 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 580;
}
.commerce-product--full .product-name {
  font-size: 18px;
  font-weight: 580;
  color: #333333;
  margin: 4px 0px 4px 0px;
}
.commerce-product--full .product-mrp {
  color: #999999;
  font-size: 16px;
}
.commerce-product--full .product-mrp .product-old-price {
  display: inline;
  color: #666666;
  padding-left: 6px;
}
.commerce-product--full .product-mrp .product-old-price div {
  display: inline;
}
.commerce-product--full .selling-mrp {
  font-size: 16px;
  color: #333333;
}
.commerce-product--full .selling-mrp .product-price {
  display: inline;
  padding-left: 6px;
  font-size: 24px;
  font-weight: 580;
}
.commerce-product--full .selling-mrp .product-price div {
  display: inline;
}
.commerce-product--full .tax-text {
  font-size: 12px;
  color: #999999;
}
.commerce-product--full .available-variations .product--rendered-attribute label.option {
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 8px 12px 8px 12px;
  margin: 12px 16px 12px 0;
  font-size: 16px;
}
.commerce-product--full .available-variations .product--rendered-attribute__selected ~ label.option {
  border: 1px solid #E96125;
  border-radius: 3px;
  color: #E96125;
  font-size: 16px;
}
.commerce-product--full .available-variations legend {
  margin: 0 auto;
  font-size: 14px;
  color: #666666;
}
.commerce-product--full .button--add-to-cart {
  background-color: #E96125;
  border: 1px solid #E96125;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 12px 32px;
}
.commerce-product--full .product-detail .product-detail-title {
  color: #333333;
  font-size: 18px;
  font-weight: 580;
  padding: 16px 0 10px 0;
}
.commerce-product--full .product-detail .field__label {
  color: #333333;
  font-size: 14px;
  font-weight: 580;
}
.commerce-product--full .product-detail .field__item {
  color: #666666;
  font-size: 14px;
  font-weight: 200;
}
.commerce-product--full .product-detail .viewless, .commerce-product--full .product-detail .viewmore {
  color: #E96125;
  font-size: 16px;
  text-align: center;
}
.commerce-product--full .product-detail .viewless:hover, .commerce-product--full .product-detail .viewless:focus, .commerce-product--full .product-detail .viewmore:hover, .commerce-product--full .product-detail .viewmore:focus {
  color: #E96125;
}
.commerce-product--full .promise-title {
  font-size: 16px;
  font-weight: 580;
  color: #37A3BE;
}
.commerce-product--full .promise-title .promise-text {
  color: #333333;
  font-size: 14px;
}
.commerce-product--full .promise .promise-header {
  color: #333333;
  font-size: 18px;
  font-weight: 580;
}
.commerce-product--full .promise img {
  height: 34px;
  width: 34px;
}

.row-category-page {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 0;
}

.row-content {
  padding: 0px;
}

.variation-block {
  padding: 10px;
}
.variation-block:hover {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.variation-block:hover .product-variation-image img {
  transform: translateY(-3px);
  transition-duration: 0.4s;
  transition-property: -webkit-transform, transform;
}
.variation-block .offer-price {
  display: inline-block;
  font-size: 14px;
  font-weight: 580;
  background-color: #51AA1B;
  color: white;
  z-index: 1;
  padding: 2px 5px;
  border: 1px solid #51AA1B;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.variation-block .product-variation-image {
  margin-top: 35px;
  margin-bottom: 10px;
}
.variation-block .product-variation-image img {
  height: 140px;
  width: 140px;
}
.variation-block .product-variation-image img:hover {
  transform: translateY(-3px);
  transition-duration: 0.4s;
  transition-property: -webkit-transform, transform;
}
.variation-block .product-variation-title {
  height: 38px;
  color: #666666;
  font-size: 16px;
}
.variation-block .product-variation-quantity {
  color: #999999;
  font-size: 14px;
  margin-top: 20px;
}
.variation-block .price-block {
  margin-top: 20px;
  margin-bottom: 20px;
}
.variation-block .product-variation-price {
  font-size: 16px;
  font-weight: 580;
  color: #333333;
  margin: 0 auto;
}
.variation-block .product-variation-old-price {
  font-size: 14px;
  font-weight: 200;
  color: #999999;
  margin: 0 auto;
}
.variation-block .button--add-to-cart {
  color: #E96125;
  background-color: #fff;
  border: 1px solid #E96125;
  border-radius: 64px;
  font-size: 14px;
  text-align: center;
  padding: 10px 20px;
}
.variation-block .button--add-to-cart:hover {
  background-color: #E96125;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
